
- name: Make sure config override directories exists
  file:
    state: directory
    path: "/etc/systemd/system/{{ item }}.service.d"
    owner: root
    group: root
    mode: 0775
  with_items:
    - radarr
    - sabnzbd
    - sickchill

- name: Copy chown script files
  template:
    src: "{{ item }}-chown.sh"
    dest: "/usr/local/bin/{{ item }}-chown.sh"
    owner: root
    group: root
    mode: 0755
  with_items:
    - sabnzbd
    - sickchill
    - radarr

- name: Copy radarr service file
  template:
    src: "radarr.service"
    dest: "/etc/systemd/system/radarr.service"
    owner: root
    group: root
    mode: 0755
  notify: restart radarr

- name: Copy override files
  template:
    src: "{{ item }}.override.conf"
    dest: "/etc/systemd/system/{{ item }}.service.d/override.conf"
    owner: root
    group: root
    mode: 0644
  with_items:
    - radarr
    - sabnzbd
    - sickchill
  notify: "restart {{ item }}"
