#
# Systemd unit file for SABnzbd
#

[Unit]
Description=SABnzbd
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=ruser
Group=ruser
PIDFile=/home/ruser/.sabnzbd/sabnzbd.pid
ExecStart=/usr/bin/python3 /home/ruser/git/sabnzbd/SABnzbd.py -b 0 --pidfile /home/ruser/.sabnzbd/sabnzbd.pid --config-file=/home/ruser/.sabnzbd/sabnzbd.ini -s 127.0.0.1

[Install]
WantedBy=multi-user.target
