<settings>
    <setting id="do_login" value="true" />
    <setting id="password" value="{{ addicted_pass }}" />
    <setting id="use_filename" value="false" />
    <setting id="username" value="{{ addicted_user }}" />
</settings>
