<advancedsettings>
    <video>
        <excludefromscan action="append">
            <regexp>/Extras/</regexp>
            <regexp>[\\/]Extras[\\/]</regexp>
        </excludefromscan>
        <excludetvshowsfromscan action="append">
            <regexp>/Extras/</regexp>
            <regexp>[\\/]Extras[\\/]</regexp>
        </excludetvshowsfromscan>
    </video>
    <videodatabase>
        <type>mysql</type>
        <host>{{mysql_hostname}}</host>
        <port>3306</port>
        <user>{{mysql_username}}</user>
        <pass>{{mysql_password}}</pass>
    </videodatabase>
    <musicdatabase>
        <type>mysql</type>
        <host>{{mysql_hostname}}</host>
        <port>3306</port>
        <user>{{mysql_username}}</user>
        <pass>{{mysql_password}}</pass>
    </musicdatabase>
    <videolibrary>
        <importwatchedstate>true</importwatchedstate>
        <importresumepoint>true</importresumepoint>
    </videolibrary>
</advancedsettings>
