<settings version="2">
    <setting id="actors" default="true">false</setting>
    <setting id="albums" default="true">true</setting>
    <setting id="artists" default="true">true</setting>
    <setting id="directors" default="true">false</setting>
    <setting id="episodes" default="true">true</setting>
    <setting id="livetv" default="true">false</setting>
    <setting id="movies" default="true">true</setting>
    <setting id="musicvideos" default="true">true</setting>
    <setting id="songs" default="true">true</setting>
    <setting id="tvshows" default="true">true</setting>
    <setting id="view" default="true">50</setting>
</settings>
