ssl_certificate  /etc/ssl/certs/private/cert.crt;
ssl_certificate_key  /etc/ssl/certs/private/cert.key;

ssl_dhparam /etc/ssl/certs/dhparam.pem;

ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_ecdh_curve secp384r1;
ssl_session_cache shared:SSL:10m;
ssl_session_tickets off;
ssl_stapling on;
ssl_stapling_verify on;

# Don't use this, since we're using internal DNS.
# resolver 8.8.8.8 8.8.4.4 valid=300s;
# resolver_timeout 5s;

add_header Strict-Transport-Security "max-age=63072000; includeSubdomains";
add_header X-Content-Type-Options nosniff;

server  {
  listen 443 ssl;
  server_name _;
  ssl on;
  location  / {
    proxy_pass http://127.0.0.1:8080/;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-for $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $remote_addr;
    proxy_set_header X-Forwarded-Protocol $scheme;
    proxy_redirect off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}

#server  {
#  listen 9090 ssl;
#  server_name _;
#  ssl on;
#  location  / {
#    proxy_pass http://127.0.0.1:8080/;
#    proxy_set_header X-Real-IP $remote_addr;
#    proxy_set_header X-Forwarded-for $proxy_add_x_forwarded_for;
#    proxy_set_header Host $host;
#    proxy_set_header X-Forwarded-Proto $remote_addr;
#    proxy_set_header X-Forwarded-Protocol $scheme;
#    proxy_redirect off;
#    proxy_http_version 1.1;
#    proxy_set_header Upgrade $http_upgrade;
#    proxy_set_header Connection "upgrade";
#  }
#}
