<settings version="2">
    <setting id="dbName" default="true">specialfeatures</setting>
    <setting id="excludetypes" default="true">\.(jpg|png|idx|srt|sfnfo|nfo|sub|db|txt|gif|xml)$</setting>
    <setting id="folder" default="true">Extras</setting>
    <setting id="moviedir">true</setting>
    <setting id="mysql">true</setting>
    <setting id="playall">true</setting>
    <setting id="sfnfo">true</setting>
    <setting id="showalldir">true</setting>
    <setting id="showcon">true</setting>
    <setting id="sqlip">{{mysql_ip}}</setting>
    <setting id="sqlpass">{{mysql_password}}</setting>
    <setting id="sqlport">3306</setting>
    <setting id="sqluser">{{mysql_username}}</setting>
    <setting id="tvshowdir">true</setting>
</settings>