- name: Make sure private directory exists
  file:
    state: directory
    path: /etc/ssl/private
    owner: root
    group: ssl-cert
    mode: 0770

- name: Make sure site directory exists
  file:
    state: directory
    path: /usr/lib/unifi/data/sites/default
    owner: unifi
    group: unifi
    mode: 0770

- name: Copy config.gateway.json
  template:
    src: config.gateway.json.j2
    dest: /usr/lib/unifi/data/sites/default/config.gateway.json
    owner: unifi
    group: unifi
    mode: 0644
  notify:
    - restart unifi

- name: Copy latest certificate
  copy:
    src: "{{cert_fullchain}}"
    dest: /etc/ssl/private/cert.crt
    force: yes
    owner: root
    group: ssl-cert
    mode: 0644
  notify:
    - restart nginx

- name: Copy latest certificate for unifi-core
  copy:
    src: "{{cert_fullchain}}"
    dest: /data/unifi-core/config/unifi-core.crt
    force: yes
    owner: root
    group: root
    mode: 0644
  notify:
    - restart unifi-core

- name: Copy latest private keys
  copy:
    src: "{{cert_privkey}}"
    dest: /etc/ssl/private/cert.key
    force: yes
    owner: root
    group: ssl-cert
    mode: 0640
  notify:
    - restart nginx
  register: new_private_keys

- name: Copy latest private keys for unifi-core
  copy:
    src: "{{cert_privkey}}"
    dest: /data/unifi-core/config/unifi-core.key
    force: yes
    owner: root
    group: root
    mode: 0644
  notify:
    - restart unifi-core

- name: Generate PKCS#12 file
  openssl_pkcs12:
    action: export
    path: /etc/ssl/private/unifi.p12
    friendly_name: "unifi"
    passphrase: aircontrolenterprise
    privatekey_path: /etc/ssl/private/cert.key
    certificate_path: /etc/ssl/private/cert.crt
    mode: 0640
    state: present
  # when: new_private_keys.changed

- name: Make sure SSL keystore has correct permissions
  file:
    path: /etc/ssl/private/unifi.keystore.jks
    owner: root
    group: ssl-cert
    mode: 0640

- name: Import SSL into keystore
  command:
    chdir: /etc/ssl/private/
    argv:
      - keytool
      - -noprompt
      - -importkeystore
      - -srckeystore
      - unifi.p12
      - -srcstoretype
      - PKCS12
      - -srcstorepass
      - aircontrolenterprise
      - -destkeystore
      - unifi.keystore.jks
      - -storepass
      - aircontrolenterprise
  notify:
    - restart unifi
  # when: new_private_keys.changed

- name: Update keystore m5dsum
  stat:
    path: /etc/ssl/private/unifi.keystore.jks
    checksum_algorithm: md5
    get_checksum: yes
  register: keystore_md5sum
  # when: new_private_keys.changed

- name: insert md5sum
  lineinfile:
    path: /etc/ssl/private/unifi.keystore.jks.md5
    line: "{{ keystore_md5sum.stat.checksum }} */etc/ssl/private/unifi.keystore.jks"
    regexp: 'unifi\.keystore\.jks$'
    validate: md5sum -c %s
