[General]
Verbosity = 0
Pipefs-Directory = /var/lib/nfs/rpc_pipefs
# The following should be set to the local NFSv4 domain name
# The default is the host's DNS domain name.
Domain = {{dns_domain_name}}

[Mapping]

Nobody-User = nobody
Nobody-Group = nobody
