[General]
#Verbosity = 0
# The following should be set to the local NFSv4 domain name
# The default is the host's DNS domain name.
Domain = {{dns_domain_name}}

[Mapping]

Nobody-User = {{nfs_server_user}}
Nobody-Group = {{nfs_server_user}}
