---
- name: mount all
  command: mount -a
  args:
    warn: no

- name: restart nginx
  service:
    name: nginx
    daemon_reload: true
    state: restarted

- name: restart radarr
  service:
    name: radarr
    daemon_reload: true
    state: restarted

- name: restart sabnzbd
  service:
    name: sabnzbd
    daemon_reload: true
    state: restarted

- name: restart sickchill
  service:
    name: sickchill
    daemon_reload: true
    state: restarted
    
- name: restart tronbyt-server
  service:
    name: tronbyt-server
    daemon_reload: true
    state: restarted
    
- name: restart satisfactory
  service:
    name: satisfactory
    daemon_reload: true
    state: restarted
    