- name: Ensure group "pihole" exists
  group:
    name: pihole
    system: True
    state: present

- name: Ensure group "www-data" exists
  group:
    name: www-data
    system: True
    state: present

- name: Create pihole user
  user:
    name: pihole
    comment: "DNS pihole account"
    uid: 999
    groups: pihole,www-data
    system: True
    shell: /usr/sbin/nologin

- name: Download Pi-Hole installer
  get_url:
    url: https://install.pi-hole.net
    dest: ~/install-pihole.sh
    force: yes
    mode: 0740

- name: Create pihole configuration directory
  file:
    name: /etc/pihole/
    state: directory
    owner: pihole
    group: pihole
    mode: 0755

- name: Create pihole configuration
  become: True
  template:
    src: "setupVars.conf.j2"
    dest: "/etc/pihole/setupVars.conf"
    owner: root
    group: root
    mode: 0644

- name: Install Pi-Hole
  shell: "~/install-pihole.sh --unattended"

- name: Add hosts
  copy:
    dest: /etc/pihole/lan.list
    src: lan.list
    force: yes
    group: root
    owner: root
    mode: 0644
    follow: yes
  notify: Restart DNS

- name: Add hosts config
  copy:
    dest: /etc/dnsmasq.d/02-lan.conf
    content: "addn-hosts=/etc/pihole/lan.list"
    decrypt: yes
    force: yes
    group: root
    owner: root
    mode: 0644
    follow: yes
  notify: Restart DNS

- name: Add wildcard host config
  copy:
    dest: /etc/dnsmasq.d/03-wildcard.conf
    content: "address=/k8s.planetvoor.com/192.168.2.50"
    decrypt: yes
    force: yes
    group: root
    owner: root
    mode: 0644
    follow: yes
  notify: Restart DNS

- name: Add wildcard host config
  copy:
    dest: /etc/dnsmasq.d/04-wildcard2.conf
    content: "address=/apps.planetvoor.com/192.168.2.55"
    decrypt: yes
    force: yes
    group: root
    owner: root
    mode: 0644
    follow: yes
  notify: Restart DNS
